@{
    ViewData["Title"] = "Página inicial";
}

<div>
    <div class="imagem">

        <img style="margin-left:30%;" src="~/images/logo.png" alt="Logo_League_of_Legends">
    </div>

    <h2>Bem vindo a LoL Profile Resume.</h2>
    <p>
         Uma forma rápida de ver as informações mais importantes da sua fila ranqueada sem precisar 
        entrar no game!
    </p>
    <ul>
        <li>Nick no jogo</li>
        <li>Nível do jogador</li>
        <li>Elo na fila ranqueada</li>
        <li>Vitórias</li>
        <li>Derrotas</li>
        <li>PDL - Pontos de Liga</li>
    </ul>

</div>



