<form action="SearchLoLAsync" method="post" class="form-inline">
    <div class="margin-default">
        <div class="form-group mx-sm-3 mb-2">
            <label for="Summoner">Digite seu nickname: </label>
            <input type="text" style="width:400px; margin-right:20px;" class="form-control" id="Summoner" name="Summoner" placeholder="Apelido no jogo" required/>
            <label for="Region">Região: </label>
            <select name="Region" class="form-control" id="Region">
                <option selected="selected" value="1">Brasil</option>
                <option value="2">América do Norte</option>
                <option value="3">Europa</option>
                <option value="4">Japão</option>
                <option value="5">Coreia</option>
                <option value="6">Oceania</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Procurar</button>
    </div>
</form>

<p class="margin-text-description">Seu perfil resumido do League of Legends!</p>
